{% extends "frontend/base.html" %} {% load i18n %} {% load account %} {% block head_title %} {% trans "Password Reset" %} {% endblock %} {% block content %} {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif%}

<!-- Start Main Section -->
<main class="position-relative">
	<div class="flex-card welcome-bg">
		<i class="fas left-icon fa-angle-left"></i>
		<div class="content">
			<p class="mb-2">Forgot password</p>
			<span class="subtext">Please enter your email associated with the account and we’ll<br> send you a temporary
				password to login with.</span>
		</div>
		<div class="sign-up-box">
			<div class="login-link">
				<form action="{% url 'account_reset_password' %}" method="POST">
					{% csrf_token %}
					<div class="form-group email-group mb-4">
						<label for="email">Email</label>
						<input type="email" name="email" placeholder="Enter email" id="email">
					</div>
					<input type="submit" value="{% trans 'Reset My Password' %}" />

				</form>
			</div>
		</div>
	</div>
</main>
<!-- End Main Section -->



<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}