{% extends 'frontend/base.html' %} {% load static %}


<!-- css -->
{% block css %}

<!-- Sidenav CSS -->
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<!-- Calendar CSS -->
<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}"> {% endblock %}
<!-- block content Section -->

{% block content %}